<div class="row" id="contact">
    <div class="col">
      <h2>Let's Connect</h2>
      <a id="profile-link" href="https://www.linkedin.com/in/yeshas-prabhakar/" target="_blank"
        class="btn contact-details">
        <i-bs name="linkedin"></i-bs></a>
      <a id="profile-link" href="https://github.com/yeshasmp/" target="_blank"
        class="btn contact-details">
        <i-bs name="github"></i-bs></a>
      <br />
      <span>Coded by Yeshas Prabhakar with <i-bs name="heartFill"></i-bs></span>
      <br />
      <span id="credit">Source: OpenWeatherMap</span>
    </div>
  </div>
