/* About Page Design */
.container{
    color: black;
}

.card{
    width: 275px;
    box-shadow: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
    font-weight: 600;
}
