<div class="container p-2">
    <div class="row pt-4 text-center justify-content-center">

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="cloudSun"></i-bs>
            <div class="card-header">
                <h5>Current Weather</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Supports current weather with wind speed, humidity, sunset, sunrise.
                </p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="calendarDay"></i-bs>
            <div class="card-header">
                <h5>Daily Weather Forecast</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Supports forecast weather upto 6 days
                </p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="globe"></i-bs>
            <div class="card-header">
                <h5>Geo Location</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">The project is supported by OpenWeather and Geo location API</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="github"></i-bs>
            <div class="card-header">
                <h5>Open Source</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">Project is open sourced on github</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="personCheckFill"></i-bs>
            <div class="card-header">
                <h5>No Registration</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">No registration or login required</p>
            </div>
        </div>

        <div class="card m-2">
            <i-bs class="p-2" width="4rem" height="4rem" name="badgeAd"></i-bs>
            <div class="card-header">
                <h5>No Ads</h5>
            </div>
            <div class="card-body text-center">
                <p class="card-title">No advertisements or promotions</p>
            </div>
        </div>

    </div>
</div>